# Variables de entorno para la aplicación Vite. 

# URL base de la API para el entorno de desarrollo.
#Ejemplo: http://localhost:3000/api/v1
VITE_API_BASE_URL=
# Entorno de la aplicación (development, production, etc.).
VITE_APP_ENVIRONMENT=
# Número de contacto para WhatsApp en formato internacional sin signos ni espacios.
# Por ejemplo, para un número argentino 379-1234567, se debe ingresar como 5493791234567.
VITE_NUMERO_DE_CONTACTO=